<ul id="menu">
  <li class="home"><a href="/" title="Till första sidan"><span>Senaste nytt </span>Startsidan</a></li>
  <li class="subscribe"><a href="/prenumerera.html" title="Prenumerera på Webbradion"><span>Lyssna genom att </span>Prenumerera</a></li>
  <li class="tip"><a href="/tipsa.html" title="Tipsa Webbradion om bra innehåll" rel="nofollow"><span>Bidra </span>Tipsa</a></li>
  <li class="about"><a href="/om.html" title="Om Webbradion"><span>Information </span>om oss</a></li>
  <li class="friends"><a href="/vanner" title="Våra vänner"><span>Vänner och </span>bekanta</a></li>
</ul>