@import url(normalize.css);
body {
  font: 1em/1.2em Helvetica, Arial, sans-serif;
  background: white url(../images/bg.png) top left repeat-x !important;
  text-align: center;
  margin: 0 auto;
}

a { color: #2379a6; }
a:visited { color: #093146; }
a:hover { color: #0c5880; }

.wrapper {
  width: 845px;
  text-align: left;
  margin: 0 auto;
}

/* HEADER */
#header {
  background: url('/images/radio.png') no-repeat left top;
  padding-left: 165px;
  height: 156px;
}
#header p {
  float: left;
  padding: 13px 0 13px 30px;
  color: white;
  font-size: .8em;
}
#logo {
  overflow: hidden;
}
#logo a.logo {
  background: url('/images/logo.png') no-repeat scroll center left;
  width: 166px;
  height: 28px;
  display: block;
  padding-top: 42px;
  float: left;
}
#logo span {
  display: none;
}


/* MENY */
#menu {
  clear: left;
  padding-top: 14px;
  margin: 0;
}
#menu li {
  float: left;
  margin-right: 52px;
  display: block;
}
#menu a {
  color: #91b2c4;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 1.2em;
  padding: 0 0 15px 0;
  display: block;
}
#menu a:hover {
  background: transparent url('../images/pil.gif') no-repeat bottom center;
  color: #fff;
}
#menu a:hover span {
  color: #4996bf;
}
#menu span {
  color: #286f95;
  display: block;
  font-size: .6em;
}
#home li.home a,
#about li.about a,
#tip li.tip a,
#subscribe li.subscribe a,
#friends li.friends a
{
  background: transparent url('../images/pil.gif') no-repeat bottom center;
  color: #fff;
}
#home li.home span,
#about li.about span,
#tip li.tip span,
#subscribe li.subscribe span,
#friends li.friends span
{
  color: #4996bf;
}


/* INNEHÅLL */
#content {
  overflow: hidden;
  padding: 25px 0 25px 20px;
  color: #222;
}
h2 {
  font-size: 1.5em;
  line-height: 1.2em;
}
h2.new {
  margin-top: 25px;
}
h2 a {
  text-decoration: none;
  color: #222;
  border-bottom: 2px solid #6FA8CE;
}
#content p {
  font-size: .9em;
}
#content ol, #content ul {
  font-size: .9em;
}
p.main {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}


/* fron sidebar */
.front-sidebar {
  float: right; width: 200px;
  font-size: .8em;
  padding-top: 14px;
  line-height: 1.2em;
}
.front-sidebar h2 {
  padding-top: 15px;
  font-size: 1.2em;
}

.front-sidebar p {
  padding: 10px 0;
}

/* kolumnsystem */
.columns .left {
  width: 130px;
  float: left;
  margin-right: 15px;
}
.columns .middle {
  width: 495px;
  float: left;
}
#home .columns .middle {
  width: 465px;
}
.columns .right {
  width: 170px;
  margin-left: 15px;
  float: left;
}
.columns .marked {
  border-top: 2px solid #eee;
}
.columns .middle-right {
  width: 680px;
  float: left;
}

.columns .left, .columns .middle, .columns .right, .columns .middle-right {
  xborder-top: 2px solid #f2f2f2;
  padding-top: 10px;
}

.columns {
  overflow: hidden;
  margin-bottom: 40px;
}
.tight {
  margin-bottom: 20px !important;
}


/* FRIENDS */
#friends .middle ul li {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}


/*footer*/
.footer {
  overflow: hidden;
  padding: 20px;
  margin: 25px 0 25px 20px;
  background-color: #f2f2f2;
  border-top: 3px solid #ddd;
  font-size: .8em;
}
.footer .left {
  float: left;
}
.footer .right {
  float: right;
  vertical-align: middle;
}

  .right img {
    vertical-align: middle;
  }

/* SIDSPECIFIKT */
#tip form {
  padding-top: 20px;
}
#tip .tip-item {
  overflow: hidden;
  background-color: #f2f2f2;
  margin-top: 20px;
  padding: 15px;
}
#tip .delete {
  float: right;
}

/* MODULER */
div.episode h2 {
  line-height: 1em;
  font-size: 1.9em;
}
.episode .label {
  margin-top: 2.3em;
  text-align: right;
}
.episode.item {
  position: relative;
  margin: 10px 0 30px;
  padding-left: 80px;
}
.episode.item .label {
  float: none;
  position: absolute;
  left: 0;
  width: 60px;
  margin: 5px 10px 5px 0;
}
.episode.item h2 {
  margin: 0;
}
.episode.item p {
  margin: 0;
  padding: 8px 0;
}
div.episode em {
  line-height: .8em;
  font-family: Georgia, serif;
}
div.episode .middle {
  font-size: .9em;
}

div.host {
  overflow: hidden;
  margin-top: 20px;
}

div.host img {
  float: right;
  margin: 0 0 0 1em;
}

div.comment .middle {
  border-bottom: 1px #999 solid;
}
.comment .middle {
  font-size: .8em;
}
#new_comment input, #new_comment textarea {
  margin-bottom: 10px;
}

.gravatar {
  float: left;
  margin: 0 15px 15px 0;
}
.time {
  font-size: .5em;
  color: #666;
}
.shownotes {
  padding: 10px;
}
.shownotes h3 {
  margin-bottom: 3px;
}
.shownotes ul {
  padding-left: 25px;
}
.shownotes li {
  list-style-image: url("/images/radio-bullet.gif");
}

/* global */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}




#surname_surname {
  display: none;
}

ol {
  padding-left: 25px;
  list-style-type: decimal;
}

span.label {
  padding: 3px 5px 2px 5px;
  line-height: 1.2em;
  color: white;
  background-color: #b7d1df;
  font-size: .7em;
  float: right;
  display: block;
  color: #023b58;
  text-align: right;
}

.player {
  padding: 10px;
}
.player a {
  color: white;
  font-size: 16px;
}

.player p {
  margin: 10px;
}

p.contact_info {
  text-align: right;
  font-style: italic;
  color: #666;
  line-height: 1.5;
  margin: 1em;
}
  p.contact_info a {
    color: #666;
  }

.twitterbutton, .playbutton {
  background-image: url('/images/twitter.png');
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 32px;
  line-height: 32px;
  height: 32px;
}

.playbutton {
  background-image: url('/images/play.png');
  padding-left: 20px;
}

.archive ol li {
  margin-left: 15px;
}

ul#news_list {
  margin: 1em 0;
}
  ul#news_list li {
    line-height: 1.5;
  }

p.news_item {
  margin: 2em;
  line-height: 1.6;
}

.forkme img {
  position: absolute; top: 0; right: 0; border: 0;
}
