<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Webbradion.net : Webbplats för webbradion.net - podcast för webbutvecklare" />

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <title>Webbradion.net</title>
  </head>

  <body>

    <div class="wrapper">
      <div id="header">
        <div id="logo">
          <a class="logo" href="/"><span>Webbradion</span></a>
          <p>
            En podcast av och för webbutvecklare.
          </p>
        </div>

        {% include menu.html %}

      </div>
      <div id="content">
        {{ content }}
      </div>
      <div class="footer">
        <div class="left">
          Webbradion presenteras av Standout AB.
        </div>
        <div class="right">
          Länka gärna hit <a href="http://webbradion.net" title="Webbradion"><img style="border: 0" src="/images/banner.gif" alt="Webbradion" /></a>
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons-licens" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a>
        </div>
      </div>
    </div>

    <!-- Google analytics -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-7751560-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
