<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{ post.description }}" />
    <!-- Facebook Open Graph Meta Tags -->
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://webbradion.net/images/album-art.png"/>
    <meta property="og:description" content="{{ page.description }}"/>
    <meta property="og:title" content="{{ page.title }} - Webbradion.net"/>
    <meta property="og:url" content="http://webbradion.net{{ page.permalink }}/"/>
    <!-- Twitter Open Graph Meta Tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@webbradion">
    <meta name="twitter:image" content="http://webbradion.net/images/album-art.png">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:title" content="{{ page.title }} - Webbradion.net">
    <meta name="twitter:url" content="http://webbradion.net{{ page.permalink }}/">

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <title>{{ page.title }} - Webbradion.net</title>
  </head>

  <body>

    <div class="wrapper">
      <div id="header">
        <div id="logo">
          <a class="logo" href="/"><span>Webbradion</span></a>
          <p>
            En podcast av och för webbutvecklare.
          </p>
        </div>

        {% include menu.html %}

      </div>
      <div id="content">
        <div class="columns episode">
          <div class="left">
            <span class="label">{{ page.date | date:'%Y-%m-%d' }}</span>
          </div>
          <div class="middle">
            <h2>{{ page.title }}</h2>
            <p>
              {{ page.description }}
            </p>

            <audio controls>
              <source src="{{ page.sound_file }}" type="audio/mpeg">
            </audio>

            <fb:like href="http://webbradion.net/avsnitt/<%= episode.id %>"></fb:like>
            <div class="shownotes">
              {{ content }}
            </div>

            {% include disqus.html %}
          </div>
      </div>
      <div class="footer">
        <div class="left">
          Webbradion presenteras av Standout AB.
        </div>
        <div class="right">
          Länka gärna hit <a href="http://webbradion.net" title="Webbradion"><img style="border: 0" src="/images/banner.gif" alt="Webbradion" /></a>
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons-licens" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a>
        </div>
      </div>
    </div>

    <!-- Google analytics -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-7751560-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
